@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;1,9..40,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Default Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: inherit;
}

input {
  width: 100%;
  font-size: 1rem;
  color: #333;
  padding: 1rem 1.5rem;
  border: 0.125rem solid #333;
  border-radius: 999rem;
}

input:focus {
  outline: 0.125rem solid #33333380;
}

button {
  width: fit-content;
  font-size: 1rem;
  background: oklch(45.7% 0.24 277.023);
  color: #fff;
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
  border-radius: 999rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  outline: 0.125rem solid oklch(78.5% 0.115 274.713);
}

button:disabled {
  background-color: oklch(87% 0 0);
}

button:disabled:hover {
  outline: 0.125rem solid oklch(92.2% 0 0);
}

/* Default Styles */

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

header {
  height: 5rem;
  background: #fffffff0;
  padding-inline: 5rem;
  border: 0.01rem solid #888;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

form {
  width: 100%;
  max-width: 35rem;
  background-attachment: fixed;
  background-color: #fff;
  padding: 3rem;
  margin: 1rem;
  box-shadow: 0 0 0.5rem #00000015;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  position: relative;
  z-index: 1000;
}

form h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.75rem;
}

form p {
  font-weight: lighter;
  color: #888;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form input {
  padding: 0.75rem 1.25rem;
  border-width: 0.0625rem;
}

footer {
  height: 5rem;
  border: 0.01rem solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer a {
  color: oklch(25.7% 0.09 281.288);
  border-bottom: 0.125rem solid transparent;
  transition: all 0.3s ease;
  opacity: 75%;
}

footer a:hover {
  border-color: oklch(25.7% 0.09 281.288);
  opacity: 75%;
}

@media screen and (max-width: 1000px) {
  header {
    padding-inline: 1rem;
  }
}